@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Project 3 - David Ngige</h1>

    <p></p>

    <p></p>

    <p><a href="/MortgagePage">Click here to calculate Mortgage! </a></p>

</div>
